/* Reset some default styles */
body, h1, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: var(--primary-color, #333);
    color: var(--text-light, #fff);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--text-light, #fff);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondary-color, #007BFF);
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 10px 0;
    background: var(--primary-color, #333);
    color: var(--text-light, #fff);
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3); /* Light grey */
    border-radius: 50%; /* Circular */
    border-top: 8px solid var(--primary-color, #333); /* Dark grey */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
    margin: 0 auto; /* Center horizontally */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Media Queries for larger screens */
@media screen and (min-width: 768px) {
    header, nav ul {
        display: flex;
        justify-content: space-between;
    }
}
