:root {
    --primary-black: #0a0a0a;
    --accent-green: #39C3AB;
    --accent-yellow: #e6d263;
    --accent-red: #F54400;
    --primary-white: #FFFBE8;
    --primary-gray: #0f0f0f;
    --decorative-gray: #1e1e1e;
}

/* Reset some default styles */
body, h1, ul, p {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, p, ul {
    font-size: 1.15rem;
    line-height: 1.4;
}

body {
    font-family: 'VT323', monospace;
    line-height: 1.6;
    background-color: var(--primary-black, #010101);
    background-image: radial-gradient(var(--decorative-gray) 1px, transparent 1px);
    background-size: 36px 36px;
    color: var(--primary-white);
}


.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button {
    width: 100%;
    padding: 10px;
    background-color: var(--decorative-gray);
    color: var(--primary-white);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

    
button:hover, 
.character-item:hover, 
#backToList:hover,
input[type="submit"]:hover {
    color: var(--accent-yellow);
    background-color: var(--decorative-gray);
    border: 2px solid var(--accent-yellow);
    box-shadow: 0 0 10px 2px rgba(232, 236, 102, 0.3);
    cursor: pointer;
}

.cta {
    background-color: var(--accent-yellow);
    color: var(--primary-black);
}

.logo-svg {
    width: AUTO;
    height: 30PX;
    margin: 16px;
}

#swLogo path {
    height: 50px;
    fill: var(--primary-white);
}



header h1 {
    margin: 0;
}

/* Dynamic content box */

.dynamic-content {
    min-height: 500px;
    border: 1px solid var(--accent-yellow);
    box-shadow: 0 0 10px 2px rgba(232, 236, 102, 0.3);
    width: 80%;
    background-color: var(--primary-gray);
    padding: 20px;
    border-radius: 12px;
    animation: glow 6s infinite;
    display: flex;
    align-items: center;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px var(--accent-yellow);
    }
    50% {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 7px var(--accent-yellow), 0 0 12px var(--accent-yellow);
    }
}


.content-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content-container h2 {
    margin-bottom: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: var(--primary-black);
    color: var(--primary-white);
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50%; 
    border-top: 8px solid var(--primary-color, #333); 
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none; 
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Media Queries for larger screens */
@media screen and (min-width: 768px) {
    header, nav ul {
        display: flex;
        justify-content: center;
    }
}

