.star-rating {
  display: flex;
  align-items: center;
}

.star-button {
  background: none;
  border: none;
  font-size: 24px; /* Adjust the size as needed */
  margin: 0 4px; /* Adjust the spacing between stars as needed */
  cursor: pointer;
  color: #FFD700; /* Star color (yellow in this example) */
}

.star-button:hover {
  color: #FFAC33; /* Star color on hover (slightly darker yellow) */
}

.white-star {
  color: white; /* Set the color to white */
}
