html, body {
    font-family: Arial, sans-serif;
    background-color: #0E0D0C;
    height: 100%;
    align-items: center;
}

/* ---> quick destination form <--- */

.quick-planner {
    background-color: #4b4b4b;
    color: white;
    padding: 0.2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}

.quick-planner-options {
    margin: 1%;
}

.form-group {
    display: inline-block;
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ---> galaxy map <--- */

.galaxy-map {
    background-color: #353535;
    color: white;
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 
}
.map-container {
    overflow: hidden;
    border-radius: 15px;
    
}

.map-container img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

.galaxy-map img {
    width: 100%; 
    border-radius: 15px;
}

#exploreButton {
    position: relative;
    z-index: 2;
}

.galaxy-map.transition-effect {
    overflow: visible;
}

.transition-effect {
    animation: growAndBlur 0.6s ease;
}

.galaxy-map.transition-effect img {
    transform-origin: top left;
    animation: growAndBlur 0.6s ease;
    z-index: 3;
}



@keyframes growAndBlur {
    0% {
        transform: scale(1);
        filter: blur(0);
    }

    100% {
        filter: blur(10px);
    }
}


#exploreButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff9900;
    cursor: pointer;
}
.galaxy-map:hover #exploreButton {
    background-color: #d8a559;
}


.map02 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    height: 850px;
}

.overlay {
    position: absolute; 
    height: 850px; 
    display: block; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 15%;
    margin-right: 15%;
}

#map {
    display: block; 
}

/* ---> footer <--- */
.footer {
    background-color: #4b4b4b;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}

#zone1:hover,
#zone2:hover {
    filter: brightness(.1); 
}