.layout-container {
    display: flex;
    align-items: start;
}

#dynamic-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.col-1, .col-3 {
    flex: 1;
}

.col-1 {
    margin-right: 16px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--decorative-gray);
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--decorative-gray);
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white'><path d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--decorative-gray);
    border-radius: 4px;
}


select:hover {
    border: 1px solid var(--accent-yellow);
    box-shadow: 0 0 10px 2px rgba(232, 236, 102, 0.3);
    cursor: pointer;
}


#outputBox {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--decorative-gray);
    border-radius: 4px;
    background-color: var(--decorative-gray);
}

#outputBox, #inputText {
    min-height: 300px;
}
